################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Url Routing.cbp
Url Routing.layout
/obj
/bin
